{% extends "admin/change_list.html" %}

{% block extrastyle %}
{{ block.super }}
<style>
  #changelist-filter {
    width: auto;
    max-width: none;
  }
  #changelist-filter a {
    white-space: nowrap;
  }
</style>
{% endblock %}

{% block result_list %}
{{ block.super }}
<div class="results">
    <table>
        <tbody>
            <tr>
                <th scope="row">Total quantity (filtered)</th>
                <td>{{ totals_quantity }}</td>
            </tr>
            <tr>
                <th scope="row">Total amount (filtered)</th>
                <td>{{ totals_amount }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
